# Final Representation of Model

This notebook contains our results and visualizations for the 2018 NBA Playoff predictions

In [18]:
# Import necessary libraries 

import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import scipy as sc
from sklearn import neural_network
import pickle

%matplotlib inline

Here we want to load our finalized model. This is the MLP Neural network.

In [19]:
filename = './finalized_model_1.sav'

loaded_model_1 = pickle.load(open(filename, 'rb'))

Because it was the most accurate, we decide to use non-normalized data for our predictions.

In [20]:
diff1718 = pd.read_csv('./preprocessed/final/diff1718.csv', sep=',')

In [21]:
diff1718

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,36,37,38,39,40,41,42,43,44,45
0,0,-11,0,-0.6,-2.3,-1.9,-0.016,7.3,19.8,0.005,...,-0.033,-1.1,1.4,0.2,-1.5,0.9,-0.3,-0.5,-0.5,-3.4
1,1,0,0,0.9,1.6,5.1,-0.009,-0.1,0.8,-0.012,...,-0.002,0.8,-0.4,0.6,3.3,-0.6,0.0,1.1,0.8,4.6
2,2,-1,0,-2.5,-3.4,-1.3,-0.031,0.1,-0.1,0.004,...,-0.029,-1.5,-1.1,-2.6,-3.5,-0.9,0.9,-1.9,-1.2,-7.4
3,3,-9,0,0.0,3.8,-0.3,0.046,2.8,4.8,0.039,...,-0.001,1.7,-1.7,0.0,1.8,1.1,-0.2,0.2,-1.3,7.7
4,4,-15,0,-0.3,1.4,1.8,0.005,1.9,6.5,-0.017,...,0.006,0.0,-0.1,-0.1,-0.5,-0.6,0.2,-0.6,-0.1,-2.1
5,5,-2,0,-0.3,-0.4,-1.6,0.004,3.0,7.6,0.003,...,-0.001,-0.3,0.9,0.6,2.7,0.5,-1.1,-2.0,2.2,5.7
6,6,-10,0,-1.8,2.0,1.3,0.017,0.0,-0.8,0.009,...,-0.038,0.9,-1.8,-0.9,0.7,1.0,0.5,0.2,1.0,2.4
7,7,-11,0,-0.3,-1.4,2.1,-0.028,2.7,5.7,0.022,...,-0.020,-0.4,1.4,1.1,-2.3,0.1,-0.1,-1.5,-0.7,-6.4
8,8,-7,0,0.0,0.4,1.3,-0.002,4.5,12.7,-0.004,...,-0.025,0.0,0.4,0.4,2.4,-0.9,-0.2,-0.3,-0.1,4.1
9,9,5,0,2.8,-0.1,3.2,-0.020,-1.1,-0.7,-0.029,...,0.026,-0.1,3.1,3.0,0.1,-0.5,0.5,0.2,1.8,2.9
10,10,-4,0,1.2,0.9,2.6,-0.004,-0.2,0.9,-0.014,...,0.011,-0.1,-1.1,-1.2,-4.1,-0.3,0.8,0.8,-0.8,-6.0
11,11,1,0,-0.3,2.5,1.5,0.022,-0.5,-0.6,-0.008,...,-0.018,0.4,-2.0,-1.6,0.4,1.3,0.7,0.2,1.2,4.9
12,12,-2,0,0.3,-4.1,-0.9,-0.043,4.0,13.4,-0.029,...,-0.012,-2.2,1.8,-0.5,-1.2,-1.3,0.7,0.3,1.9,-3.6
13,13,2,0,-0.9,2.1,-0.3,0.026,0.5,1.7,-0.005,...,-0.007,0.3,-0.5,-0.2,4.6,0.3,-0.3,-0.6,1.5,9.5
14,14,-3,0,0.0,2.4,0.3,0.027,-0.7,-3.2,0.019,...,0.002,1.0,-2.1,-1.1,-2.3,1.2,-0.4,0.8,-2.2,-2.4

Again, we need to remove these two columns that continue to surface in our dataframes

In [22]:
del diff1718['Unnamed: 0']
del diff1718['1']

Here we predict who the winners will be.

In [23]:
predictions = loaded_model_1.predict(diff1718)

In [24]:
predictions

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0], dtype=int32)

Here is the first visualization of the winning data. We still have the binary output for the winner. Recall that if the winner is 0, then team a won, and if the winner is 1, then team b won.

In [25]:
matchup1718 = pd.read_csv('./Playoff_Matchups/Playoff_17-18.csv', sep = ',')
matchup1718

                     TeamA                   TeamB  Winner
0          Houston_Rockets  Minnesota_Timberwolves       0
1    Oklahoma_City_Thunder               Utah_Jazz       1
2   Portland_Trail_Blazers    New_Orleans_Pelicans       1
3    Golden_State_Warriors       San_Antonio_Spurs       0
4          Toronto_Raptors      Washington_Wizards       0
5      Cleveland_Cavaliers          Indiana_Pacers       0
6       Philadelphia_76ers              Miami_Heat       0
7           Boston_Celtics         Milwaukee_Bucks       0
8          Houston_Rockets               Utah_Jazz       0
9     New_Orleans_Pelicans   Golden_State_Warriors       1
10         Toronto_Raptors     Cleveland_Cavaliers       1
11      Philadelphia_76ers          Boston_Celtics       1
12         Houston_Rockets   Golden_State_Warriors       0
13     Cleveland_Cavaliers          Boston_Celtics       0
14   Golden_State_Warriors     Cleveland_Cavaliers       0

In [26]:
matchup1718 = matchup1718.drop(columns = ['Winner'])
matchup1718

                     TeamA                   TeamB
0          Houston_Rockets  Minnesota_Timberwolves
1    Oklahoma_City_Thunder               Utah_Jazz
2   Portland_Trail_Blazers    New_Orleans_Pelicans
3    Golden_State_Warriors       San_Antonio_Spurs
4          Toronto_Raptors      Washington_Wizards
5      Cleveland_Cavaliers          Indiana_Pacers
6       Philadelphia_76ers              Miami_Heat
7           Boston_Celtics         Milwaukee_Bucks
8          Houston_Rockets               Utah_Jazz
9     New_Orleans_Pelicans   Golden_State_Warriors
10         Toronto_Raptors     Cleveland_Cavaliers
11      Philadelphia_76ers          Boston_Celtics
12         Houston_Rockets   Golden_State_Warriors
13     Cleveland_Cavaliers          Boston_Celtics
14   Golden_State_Warriors     Cleveland_Cavaliers

Here we create a list of team names with the winners for each match up this season, and the predicted winners for the final three matchups.

In [28]:
TeamA = matchup1718['TeamA'].tolist()
TeamB = matchup1718['TeamB'].tolist()
Winner = []
count = 0
for i in predictions:
    if i == 0:
        Winner.append(TeamA[count])
    else:
        Winner.append(TeamB[count])
    count += 1
Winner

['Houston_Rockets',
 'Utah_Jazz',
 'New_Orleans_Pelicans',
 'Golden_State_Warriors',
 'Toronto_Raptors',
 'Cleveland_Cavaliers',
 'Philadelphia_76ers',
 'Boston_Celtics',
 'Houston_Rockets',
 'Golden_State_Warriors',
 'Cleveland_Cavaliers',
 'Boston_Celtics',
 'Golden_State_Warriors',
 'Cleveland_Cavaliers',
 'Golden_State_Warriors']

Add to the other dataframe and visualize.

In [29]:
matchup1718['Winner'] = Winner
matchup1718
matchup1718

                     TeamA                   TeamB                 Winner
0          Houston_Rockets  Minnesota_Timberwolves        Houston_Rockets
1    Oklahoma_City_Thunder               Utah_Jazz              Utah_Jazz
2   Portland_Trail_Blazers    New_Orleans_Pelicans   New_Orleans_Pelicans
3    Golden_State_Warriors       San_Antonio_Spurs  Golden_State_Warriors
4          Toronto_Raptors      Washington_Wizards        Toronto_Raptors
5      Cleveland_Cavaliers          Indiana_Pacers    Cleveland_Cavaliers
6       Philadelphia_76ers              Miami_Heat     Philadelphia_76ers
7           Boston_Celtics         Milwaukee_Bucks         Boston_Celtics
8          Houston_Rockets               Utah_Jazz        Houston_Rockets
9     New_Orleans_Pelicans   Golden_State_Warriors  Golden_State_Warriors
10         Toronto_Raptors     Cleveland_Cavaliers    Cleveland_Cavaliers
11      Philadelphia_76ers          Boston_Celtics         Boston_Celtics
12         Houston_Rockets   Golden_State_Warriors  Golden_State_Warriors
13     Cleveland_Cavaliers          Boston_Celtics    Cleveland_Cavaliers
14   Golden_State_Warriors     Cleveland_Cavaliers  Golden_State_Warriors

In [30]:
matchup1718.to_csv('./Prediction.csv', sep = ',')