# This notebook contains our preprocessing for predicting the model

Import necessary libraries

In [91]:
import pandas as pd
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
from scipy.stats import ttest_ind
import math

Here we read in the statistics against each team that made it to the playoffs for the specific seasons. Oddly, our original preprocessing didn't fix the naming, so we fix it again here.

In [92]:
'''READS IN TEAM STATS AGAINST'''
opp_stats1314 = pd.read_csv('./preprocessed/opp_stats1314.csv', sep=',')
opp_stats1415 = pd.read_csv('./preprocessed/opp_stats1415.csv', sep=',')
opp_stats1516 = pd.read_csv('./preprocessed/opp_stats1516.csv', sep=',')
opp_stats1617 = pd.read_csv('./preprocessed/opp_stats1617.csv', sep=',')
opp_stats1718 = pd.read_csv('./preprocessed/opp_stats1718.csv', sep=',')

opp_arr = [opp_stats1314, opp_stats1415, opp_stats1516, opp_stats1617, opp_stats1718]

for df in opp_arr:
    df['Team'] = df['Team'].str[:-1]

Here we read in the csv's for the statistics for each team that made it to the playoffs in the correct season. We again have to fix the naming of each team.

In [93]:
'''READS IN TEAM STATS FOR AND CORRECTS NAMING ERRORS'''
team_stats1314 = pd.read_csv('./preprocessed/team_stats1314.csv', sep=',')
team_stats1415 = pd.read_csv('./preprocessed/team_stats1415.csv', sep=',')
team_stats1516 = pd.read_csv('./preprocessed/team_stats1516.csv', sep=',')
team_stats1617 = pd.read_csv('./preprocessed/team_stats1617.csv', sep=',')
team_stats1718 = pd.read_csv('./preprocessed/team_stats1718.csv', sep=',')

dfs = [team_stats1314, team_stats1415, team_stats1516, team_stats1617, team_stats1718]

for df in dfs:
    df['Team'] = df.Team.str.replace(' ', '_')
    df['Team'] = df['Team'].str[:-1]

team_stats1718

,Unnamed: 0,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,WIN%
0,0,3,Golden_State_Warriors,82,240.6,42.8,85.1,0.503,11.3,28.9,...,8.4,35.1,43.5,29.3,8.0,7.5,15.5,19.6,113.5,70.7
1,1,1,Houston_Rockets,82,240.9,38.7,84.2,0.460,15.3,42.3,...,9.0,34.5,43.5,21.5,8.5,4.8,13.8,19.5,112.4,79.3
2,2,8,New_Orleans_Pelicans,82,243.4,42.7,88.3,0.483,10.2,28.2,...,8.7,35.7,44.3,26.8,8.0,5.9,14.9,19.1,111.7,58.5
3,3,2,Toronto_Raptors,82,241.8,41.3,87.4,0.472,11.8,33.0,...,9.8,34.2,44.0,24.3,7.6,6.1,13.4,21.8,111.7,72.0
4,4,6,Cleveland_Cavaliers,82,240.6,40.4,84.8,0.476,12.0,32.1,...,8.5,33.7,42.1,23.4,7.1,3.8,13.7,18.6,110.9,61.0
5,5,5,Philadelphia_76ers,82,241.2,40.8,86.6,0.472,11.0,29.8,...,10.9,36.5,47.4,27.1,8.3,5.1,16.5,22.1,109.8,63.4
6,6,12,Minnesota_Timberwolves,82,241.5,41.0,86.1,0.476,8.0,22.5,...,10.3,31.6,42.0,22.7,8.4,4.2,12.5,18.2,109.5,57.3
7,7,8,Oklahoma_City_Thunder,82,241.8,39.9,88.0,0.453,10.7,30.4,...,12.5,32.6,45.1,21.3,9.1,5.0,14.0,20.2,107.9,58.5
8,8,17,Washington_Wizards,82,242.1,39.9,85.6,0.467,9.9,26.5,...,10.0,33.1,43.1,25.2,7.9,4.3,14.6,21.3,106.6,52.4
9,9,15,Milwaukee_Bucks,82,241.8,39.7,83.0,0.478,8.8,24.7,...,8.4,31.5,39.8,23.2,8.8,5.4,13.8,21.4,106.5,53.7
10,10,7,Portland_Trail_Blazers,82,240.9,39.3,87.0,0.452,10.3,28.1,...,10.2,35.3,45.5,19.5,7.0,5.2,13.5,19.5,105.6,59.8
11,11,8,Indiana_Pacers,82,240.9,40.8,86.4,0.472,9.0,24.5,...,9.6,32.7,42.3,22.2,8.8,4.1,13.3,18.8,105.6,58.5
12,12,8,Utah_Jazz,82,240.9,38.3,82.9,0.462,10.8,29.6,...,9.0,34.2,43.3,22.4,8.6,5.1,14.7,19.6,104.1,58.5
13,13,4,Boston_Celtics,82,241.5,38.3,85.1,0.450,11.5,30.4,...,9.4,35.1,44.5,22.5,7.4,4.6,14.0,19.7,104.0,67.1
14,14,15,Miami_Heat,82,243.0,38.8,85.3,0.455,11.0,30.6,...,9.3,34.2,43.5,22.7,7.6,5.3,14.4,20.1,103.4,53.7
15,15,12,San_Antonio_Spurs,82,240.6,39.0,85.4,0.457,8.5,24.1,...,10.4,33.9,44.2,22.8,7.7,5.6,13.1,17.2,102.7,57.3

Then we read in data for who won specific matchups for each season. If the winner is 0, then team a won and if 1, team b won.

In [94]:
'''READS IN SERIES INFORMATION CSV FILES'''
series_in1314 = pd.read_csv('./Playoff_Matchups/Playoff_13-14.csv', sep=',')
series_in1415 = pd.read_csv('./Playoff_Matchups/Playoff_14-15.csv', sep=',')
series_in1516 = pd.read_csv('./Playoff_Matchups/Playoff_15-16.csv', sep=',')
series_in1617 = pd.read_csv('./Playoff_Matchups/Playoff_16-17.csv', sep=',')
series_in1718 = pd.read_csv('./Playoff_Matchups/Playoff_17-18.csv', sep=',')
series_in1718.head()

                    TeamA                   TeamB  Winner
0         Houston_Rockets  Minnesota_Timberwolves       0
1   Oklahoma_City_Thunder               Utah_Jazz       1
2  Portland_Trail_Blazers    New_Orleans_Pelicans       1
3   Golden_State_Warriors       San_Antonio_Spurs       0
4         Toronto_Raptors      Washington_Wizards       0

Here we have a method that creates the series for each year.

In [95]:
def make_series(tm, series, df):   
    if tm == 'a':
        a = series['TeamA'].tolist()
    else:
        a = series['TeamB'].tolist()
            
    team = pd.DataFrame()
    
    for x in a:
        to_concat = df[df['Team'] == x]
        frames = [team, to_concat]
        team = pd.concat(frames)
    
    return team

Here we call the method and make the series for teams a and teams b for each year. As a check, you can see that the team names align correctly with the series dataframe upon. Notice that is is team a, and it has listed all the teams in a

In [96]:
'''THIS MAKES THE FOR AND OPPOSING TABLES FOR THE PLAYOFFS TEAM A'''
a = 'a'
team_a1314 = make_series(a, series_in1314, team_stats1314)
team_a_opp1314 = make_series(a, series_in1314, opp_stats1314)
team_a1415 = make_series(a, series_in1415, team_stats1415)
team_a_opp1415 = make_series(a, series_in1415, opp_stats1415)
team_a1516 = make_series(a, series_in1516, team_stats1516)
team_a_opp1516 = make_series(a, series_in1516, opp_stats1516)
team_a1617 = make_series(a, series_in1617, team_stats1617)
team_a_opp1617 = make_series(a, series_in1617, opp_stats1617)
team_a1718 = make_series(a, series_in1718, team_stats1718)
team_a_opp1718 = make_series(a, series_in1718, opp_stats1718)

team_a_opp1718.head()

,Unnamed: 0,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5,5,Houston_Rockets,82,240.9,39.6,85.6,0.462,10.1,28.8,0.351,...,0.746,8.7,33.4,42.0,22.4,7.4,4.4,14.6,20.4,103.9
8,8,Oklahoma_City_Thunder,82,241.8,38.5,84.0,0.458,11.2,30.6,0.367,...,0.769,9.5,32.6,42.2,23.3,7.7,4.6,16.0,21.3,104.4
4,4,Portland_Trail_Blazers,82,240.9,38.4,85.9,0.447,9.7,26.6,0.364,...,0.755,9.3,33.6,42.9,20.2,7.3,5.1,12.6,19.1,103.0
13,13,Golden_State_Warriors,82,240.6,40.2,90.0,0.447,10.4,29.2,0.357,...,0.758,10.9,31.6,42.5,23.6,8.7,3.7,14.3,18.5,107.5
6,6,Toronto_Raptors,82,241.8,38.4,85.6,0.449,8.9,25.0,0.357,...,0.767,9.8,32.6,42.4,21.8,7.2,4.9,14.3,19.9,103.9

And now do the same process for all teams in team b for each year. Notice again that the teams line up correctly but on the right side, team b, in the series dataframe above.

In [97]:
'''THIS MAKES THE FOR AND OPPOSING TABLES FOR THE PLAYOFFS TEAM B'''
b = 'b'
team_b1314 = make_series(b, series_in1314, team_stats1314)
team_b_opp1314 = make_series(b, series_in1314, opp_stats1314)
team_b1415 = make_series(b, series_in1415, team_stats1415)
team_b_opp1415 = make_series(b, series_in1415, opp_stats1415)
team_b1516 = make_series(b, series_in1516, team_stats1516)
team_b_opp1516 = make_series(b, series_in1516, opp_stats1516)
team_b1617 = make_series(b, series_in1617, team_stats1617)
team_b_opp1617 = make_series(b, series_in1617, opp_stats1617)
team_b1718 = make_series(b, series_in1718, team_stats1718)
team_b_opp1718 = make_series(b, series_in1718, opp_stats1718)

team_b1718.head()

,Unnamed: 0,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,WIN%
6,6,12,Minnesota_Timberwolves,82,241.5,41.0,86.1,0.476,8.0,22.5,...,10.3,31.6,42.0,22.7,8.4,4.2,12.5,18.2,109.5,57.3
12,12,8,Utah_Jazz,82,240.9,38.3,82.9,0.462,10.8,29.6,...,9.0,34.2,43.3,22.4,8.6,5.1,14.7,19.6,104.1,58.5
2,2,8,New_Orleans_Pelicans,82,243.4,42.7,88.3,0.483,10.2,28.2,...,8.7,35.7,44.3,26.8,8.0,5.9,14.9,19.1,111.7,58.5
15,15,12,San_Antonio_Spurs,82,240.6,39.0,85.4,0.457,8.5,24.1,...,10.4,33.9,44.2,22.8,7.7,5.6,13.1,17.2,102.7,57.3
8,8,17,Washington_Wizards,82,242.1,39.9,85.6,0.467,9.9,26.5,...,10.0,33.1,43.1,25.2,7.9,4.3,14.6,21.3,106.6,52.4

Here we clean the winning data. We want to binarize the data for who won each game in the series. This will be used directly in the model to train it.

In [99]:
'''THIS MAKES THE WINNER DATAFRAME'''
winner1314 = series_in1314['Winner']
winner1415 = series_in1415['Winner']
winner1516 = series_in1516['Winner']
winner1617 = series_in1617['Winner']
winner1718 = series_in1718['Winner']

win1314 = pd.DataFrame(winner1314, columns = ["Winner"])
win1415 = pd.DataFrame(winner1415, columns = ["Winner"])
win1516 = pd.DataFrame(winner1516, columns = ["Winner"])
win1617 = pd.DataFrame(winner1617, columns = ["Winner"])
win1718 = pd.DataFrame(winner1718, columns = ["Winner"])

win1718

    Winner
0        0
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        1
10       1
11       1

Here we want to remove a number of columns from the dataframes in l.

In [100]:
l = [team_a_opp1314, team_a_opp1415, team_a_opp1516, team_a_opp1617, team_a_opp1718, team_b_opp1314, team_b_opp1415, team_b_opp1516, team_b_opp1617, team_b_opp1718]

for j in l:
    del j['Unnamed: 0']
    del j['Team']
    del j['G']
    del j['MP']

team_a_opp1314.columns

Index(['FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

Here we create the columns for all of the opponent data. We plan to train the model with all the features in team a which includes team a stats for and team a stats against. Then we want to subtract the stats from team b, and train the algorithm with that data and the winner.

In [101]:
opps = [team_a_opp1314, team_a_opp1415, team_a_opp1516, team_a_opp1617, team_a_opp1718, team_b_opp1314, team_b_opp1415, team_b_opp1516, team_b_opp1617, team_b_opp1718]

for i in opps:
    i.columns = ['FG_opp', 'FGA_opp', 'FG%_opp', '3P_opp', '3PA_opp', '3P%_opp', '2P_opp', '2PA_opp', '2P%_opp', 'FT_opp', 'FTA_opp',
       'FT%_opp', 'ORB_opp', 'DRB_opp', 'TRB_opp', 'AST_opp', 'STL_opp', 'BLK_opp', 'TOV_opp', 'PF_opp', 'PTS_opp']

Here we add the statistics against to the statistics for so that it is in one dataframe

In [103]:
opp_cols = team_a_opp1314.columns
opp_cols

# team_b1314[col] = list(team_b_opp1314[col])

for col in opp_cols:
    team_a1314[col] = list(team_a_opp1314[col])
    team_a1415[col] = list(team_a_opp1415[col])
    team_a1516[col] = list(team_a_opp1516[col])
    team_a1617[col] = list(team_a_opp1617[col])
    team_a1718[col] = list(team_a_opp1718[col])
    team_b1314[col] = list(team_b_opp1314[col])
    team_b1415[col] = list(team_b_opp1415[col])
    team_b1516[col] = list(team_b_opp1516[col])
    team_b1617[col] = list(team_b_opp1617[col])
    team_b1718[col] = list(team_b_opp1718[col])

team_a1718.head()

,Unnamed: 0,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,...,FT%_opp,ORB_opp,DRB_opp,TRB_opp,AST_opp,STL_opp,BLK_opp,TOV_opp,PF_opp,PTS_opp
1,1,1,Houston_Rockets,82,240.9,38.7,84.2,0.460,15.3,42.3,...,0.746,8.7,33.4,42.0,22.4,7.4,4.4,14.6,20.4,103.9
7,7,8,Oklahoma_City_Thunder,82,241.8,39.9,88.0,0.453,10.7,30.4,...,0.769,9.5,32.6,42.2,23.3,7.7,4.6,16.0,21.3,104.4
10,10,7,Portland_Trail_Blazers,82,240.9,39.3,87.0,0.452,10.3,28.1,...,0.755,9.3,33.6,42.9,20.2,7.3,5.1,12.6,19.1,103.0
0,0,3,Golden_State_Warriors,82,240.6,42.8,85.1,0.503,11.3,28.9,...,0.758,10.9,31.6,42.5,23.6,8.7,3.7,14.3,18.5,107.5
3,3,2,Toronto_Raptors,82,241.8,41.3,87.4,0.472,11.8,33.0,...,0.767,9.8,32.6,42.4,21.8,7.2,4.9,14.3,19.9,103.9

Oddly, we need to remove the unnamed column and team column once again.

In [104]:
team_a = [team_a1314, team_a1415, team_a1516, team_a1617, team_a1718]
team_b = [team_b1314, team_b1415, team_b1516, team_b1617, team_b1718]
arr = team_a + team_b

for j in arr:
    del j['Unnamed: 0']
    del j['Team']
#     print(j.dtypes)
#     print(j)

Here we need the difference between team a and team b, and then store that into a new dataframe. This is used to train our model.

In [105]:
def find_diff(col, cols, year_a, year_b, df):
    col_name = cols[col]
    end = []
    diff_end = []
    diff_arr = list(year_a[col_name])
    diff_arr2 = list(year_b[col_name])
    for x in range(len(diff_arr)):
        diff = diff_arr[x] - diff_arr2[x]
        end.append(diff)
    df[col] = end

Here we find the difference and store it in the appropriate dataframe.

In [107]:
cols = list(team_a1314.columns)
# print(len(cols))

df1314 = pd.DataFrame()
df1415 = pd.DataFrame()
df1516 = pd.DataFrame()
df1617 = pd.DataFrame()
df1718 = pd.DataFrame()

years = [df1314, df1415, df1516, df1617, df1718]

for year in range(len(years)):
    for col in range(len(cols)):
        find_diff(col, cols, team_a[year], team_b[year], years[year])
df1718.shape

(12, 46)

Write the data to csv files to be used in our other notebook

In [108]:
df1314.to_csv('./preprocessed/final/diff1314.csv')
df1415.to_csv('./preprocessed/final/diff1415.csv')
df1516.to_csv('./preprocessed/final/diff1516.csv')
df1617.to_csv('./preprocessed/final/diff1617.csv')
df1718.to_csv('./preprocessed/final/diff1718.csv')

Now we want to also normalize all of the data, so that we can run the model with normalized data as well. Here is the method.

In [115]:
def normalize_df(df):
    cols = df.columns
    for col in cols:
        df = df.apply(lambda x: (x - x.min()) / (x.max() - x.min()))
    return df

Then normalize all of the data

In [116]:
df_norm1314 = normalize_df(df1314)
df_norm1415 = normalize_df(df1415)
df_norm1516 = normalize_df(df1516)
df_norm1617 = normalize_df(df1617)
df_norm1718 = normalize_df(df1718)

Then save all of the normalized data to the appropriate csv file.

In [117]:
df_norm1314.to_csv('./preprocessed/final/diff_norm1314.csv')
df_norm1415.to_csv('./preprocessed/final/diff_norm1415.csv')
df_norm1516.to_csv('./preprocessed/final/diff_norm1516.csv')
df_norm1617.to_csv('./preprocessed/final/diff_norm1617.csv')
df_norm1718.to_csv('./preprocessed/final/diff_norm1718.csv')

The following code that has been commented out was used in part 2 of this project, but we did not use it in the running of our model.

In [118]:
# '''WRITES TEAM A STATS TO CSV FILES'''
# team_a1314.to_csv('./preprocessed/final/playoffs_for_a_1314.csv')
# team_a1415.to_csv('./preprocessed/final/playoffs_for_a_1415.csv')
# team_a1516.to_csv('./preprocessed/final/playoffs_for_a_1516.csv')
# team_a1617.to_csv('./preprocessed/final/playoffs_for_a_1617.csv')

# team_a_opp1314.to_csv('./preprocessed/final/playoffs_opp_a_1314.csv')
# team_a_opp1415.to_csv('./preprocessed/final/playoffs_opp_a_1415.csv')
# team_a_opp1516.to_csv('./preprocessed/final/playoffs_opp_a_1516.csv')
# team_a_opp1617.to_csv('./preprocessed/final/playoffs_opp_a_1617.csv')

In [119]:
# '''WRITES TEAM B STATS TO CSV FILES'''
# team_b1314.to_csv('./preprocessed/final/playoffs_for_b_1314.csv')
# team_b1415.to_csv('./preprocessed/final/playoffs_for_b_1415.csv')
# team_b1516.to_csv('./preprocessed/final/playoffs_for_b_1516.csv')
# team_b1617.to_csv('./preprocessed/final/playoffs_for_b_1617.csv')

# team_b_opp1314.to_csv('./preprocessed/final/playoffs_opp_b_1314.csv')
# team_b_opp1415.to_csv('./preprocessed/final/playoffs_opp_b_1415.csv')
# team_b_opp1516.to_csv('./preprocessed/final/playoffs_opp_b_1516.csv')
# team_b_opp1617.to_csv('./preprocessed/final/playoffs_opp_b_1617.csv')

In [120]:
# '''WRITES WINNER DATAFRAME TO CSV FILES'''
#win1314.to_csv('./preprocessed/final/winner1314.csv')
#win1415.to_csv('./preprocessed/final/winner1415.csv')
#win1516.to_csv('./preprocessed/final/winner1516.csv')
#win1617.to_csv('./preprocessed/final/winner1617.csv')

In [121]:
#team_stats1718 drop unnamed, team, g, mp
#del team_stats1718['Unnamed: 0']
#del team_stats1718['Team']
#del team_stats1718['G']
#del team_stats1718['MP']

In [122]:
#opp_stats1718
#del opp_stats1718['Unnamed: 0']
#del opp_stats1718['Team']
#del opp_stats1718['G']
#del opp_stats1718['MP']

Here we prepare the data for this season, so that we can run it through our model and see who the winner is!

In [123]:
# _columns = ['FG_opp', 'FGA_opp', 'FG%_opp', '3P_opp', '3PA_opp', '3P%_opp', '2P_opp', '2PA_opp', '2P%_opp', 'FT_opp', 'FTA_opp', 'FT%_opp', 'ORB_opp', 'DRB_opp', 'TRB_opp', 'AST_opp', 'STL_opp', 'BLK_opp', 'TOV_opp', 'PF_opp', 'PTS_opp']
# _opp_cols = opp_stats1718.columns


# for col in _opp_cols:
#     team_stats1718[col] = list(opp_stats1718[col])
# team_stats1718.columns

In [124]:
# opp_stats1718.head()
# team_stats1718.head()